*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.btn,
a[class*="btn"],
.nav-bar a,
p a {
  color: unset;
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
