$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$primary-color: black;
$primary-background-color: white;

$secondary-color: white;
$secondary-background-color: rgb(4, 4, 82);

$caption-color: grey;

$hover-color: #f8f5f9;

$border-color: black;
$border-radius: 20px;

$min-padding: 0.5rem;
